body {
    background-image: url("../images/swirlpattern.png");
}

.headerwrapper {
    background-color: #ffffff;
    display: flex;
    align-items: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}



        

.header {
    flex: 1;  
    margin-left: 100px; 
    

  

}
h1 {
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    padding: 1em;
    width: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    
    
   }

.headerlinks {
    flex: 5;  
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    
    
    
}
.a:hover{
    text-decoration: none;
    color: #4aaaa5;

}
a:link {
    text-decoration: none;
    color: grey;
}

a:visited {
    text-decoration: none;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-spacing: 50px;

}

li {
    display: inline;
}

.mainwrapper {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

#ryanphoto {
    border: 15px solid white;
}

#info {
    border: 15px solid white;
}

.main {
    background-color: #ffffff;
    flex: 3;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    height: 600px;

   
 

}

.connectbox {
    color: #4aaaa5;
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    Height: 150px;
    margin-right: 100px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 500px;
    float: left; 
       
      
}

#light {
    margin: 10px;
}

.header2 {
    color: #4aaaa5;
    padding: 1em;
    border-bottom: 5px solid lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 650px;
    font-size: 25px;
    font-weight: bold;
    
}

#header2 {
    border-bottom: 5px solid lightgrey;
    font-size: 25px;
    font-weight: bold;

}

.footer {
    background-color: darkgrey;
    height: 20px;
    text-align: center;
    padding: 2em;
    color: white;
    border-top: 10px solid #4aaaa5;

    
}


.contact {
    background-color: #ffffff;
    flex: 2;
    margin-top: 25px;
    margin-bottom: 25px;

}

.contactfooter {
    background-color: darkgrey;
    height: 20px;
    text-align: center;
    padding: 2em;
    color: white;
    border-top: 10px solid #4aaaa5;
    float: left;
    width: 100%;
}

.contactmain {
    background-color: #ffffff;
    flex: 2;
    width: 650px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 500px;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    
}

.button {
    background-color: #4aaaa5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.portfoliomain {
    background-color: #ffffff;
    
    margin-top: 25px;
    margin-bottom: 25px;
    height: 800px;
    margin-left: 100px;
    float: left;
    
 
    
   }

.hangman {
    position: relative;
    margin-top: 5px;
    flex: 1;
}

.hangmanlabel {
    position: absolute; bottom: 0; left: 0;
    background-color: #4aaaa5;
    padding: 1em;
    color: white;
    width: 218px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rpg {
    position: relative;
    margin-top: 5px;
    flex: 1;
}

.rpglabel {
    position: absolute; bottom: 0; left: 0;
    background-color: #4aaaa5;
    padding: 1em;
    color: white;
    width: 218px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.toprow {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 15px;
    
    
}

.middlerow {
    display: flex;
    margin-left: 50px;
    margin-bottom: 15px;
}

.bottomrow {
    display: flex;
    margin-left: 50px;
    margin-bottom: 15px;
    
}

.trivia {
    position: relative;
    margin-top: 5px;
    flex: 1;
    
}

.trivialabel {
    position: absolute; bottom: 0; left: 0;
    background-color: #4aaaa5;
    padding: 1em;
    color: white;
    width: 218px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rutgers {
    position: relative;
    margin-top: 5px;
    flex: 1;
}

.rutgerslabel {
    position: absolute; bottom: 0; left: 0;
    background-color: #4aaaa5;
    padding: 1em;
    color: white;
    width: 218px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rock {
    position: relative;
    margin-top: 5px;
    flex: 1;
}

.rocklabel {
    position: absolute; bottom: 0; left: 0;
    background-color: #4aaaa5;
    padding: 1em;
    color: white;
    width: 218px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}